---
:min_percent: 1.99
:log_file: /path/to/your/forker_log #for example /home/user/forker_log
:filtering: true #or false if you want to see all found forks
:bookies:
- Marathon
- Betfair
- WilliamHill
