---
:min_percent: 1.99

#time in seconds
:time_of_work: 3600

#time in seconds
:time_of_notification: 20

#where the log file is, for example /home/user/forker_log
:log_file: forker_log

#filter temporary forks
:filtering: true

#use in process of development
:falling_phantomjs: true

#notification with sound
#:sound_notification: true
:sound_notification: false

:sport: tennis

:bookmakers:
- WilliamHill
- Marathon
# Parimatch
# Winlinebet
# Betfair
# Sbobet
